main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
  box-shadow: 15px 5px 10px 5px gray;
}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
  box-shadow: 15px 5px 10px 5px gray;
}

footer{
  border: thin solid black;
}
h1 {
  color: orangered;
}
p {
  color: orangered;
}
li {
  list-style-type: none;
}
img {
  border-radius: 20px;
	height: 250px;
}